body{
    font-family: 'Helvetica Neue',"微软雅黑";
}
html,body{
    margin: 0;
    padding: 0;
}
li{ 
    list-style:none;
}
a{
    color:#fff;
    text-decoration:none;
}

#header{
    background: #009dd7;
    filter:alpha(opacity=50);-moz-opacity:0.6;-kHTML-opacity: 0.6;opacity: 0.8;
    position:fixed!important;width:100%;z-index:999;top:0px;
    _position: absolute;                                       /*IE6 用absolute模拟fixed*/
    _top: expression(documentElement.scrollTop + 0 + "px"); 
    /* 设置阴影 */
    -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    }

#content{
    margin: 100px auto;
    width: 80%;
}

.post{
    margin-bottom: 20px;
}
.post-date{
    float:right;
    background:#B4DFE0;
    color:#363D3F;
    text-align:center;
    text-decoration:none;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    font-family:inherit;
    font-weight:bold;
    font-size:14px; 
    padding: 5px;
    /* 设置阴影 */
    -webkit-box-shadow:5px 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:5px 0 5px rgba(0, 0, 0, 0.2);
    box-shadow:5px 0 5px rgba(0, 0, 0, 0.2);
}

.post-date-week{
    font-size:30px;
    display:block;
    line-height:60px;
}

@-webkit-keyframes fadeInUp{
0%{opacity:0;
-webkit-transform:translateY(20px)}
100%{opacity:1;
-webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInUp{
0%{opacity:0;
-moz-transform:translateY(20px)}
100%{opacity:1;
-moz-transform:translateY(0)}
}
.itemUp{
	-webkit-animation:fadeInUp 1s .2s ease both;
	-moz-animation:fadeInUp 1s .2s ease both;
}
.post-body .item {
    display: inline-block;
    margin-right:5px;
    position: relative;
    height:200px;
    width:300px;
    overflow: hidden;
    opacity:0;
	-webkit-animation:fadeInUp 1s .2s ease both;
	-moz-animation:fadeInUp 1s .2s ease both;
}

.post-body .item:hover{
    /* -webkit-transform:scale(1.1,1.1);  */
    /*box-shadow: 3px 3px 4px #ccc;*/
}
.post-body .item a {
    display: block;
    max-width: 300px;
}
.post-body img{
    width: 300px;
}

.post-body .title{
    position: absolute;
    top:120px;
    left:10px;
	right:10px;
	font-size:19px;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.9);
}


.post-body .item:hover img{
    
}

.post-body .item:hover .title{
    color: #ccc;
}

#page{
    text-align: center;
    font-size: 18px;
}

#page a{
    color: #009dd7;
}


#foot{
    text-align: center;
    margin: 10px auto;
}

#foot a{
    color: #009dd7;
}



.main-wrap{
    height: 50px;
    margin-left: 100px;
}

