ul,li{ 
    padding:0;
    margin:0;
    overflow:hidden;
}
li{ 
    list-style:none;
}

.image { 
    height:185px;
    width:300px;
    text-align: center;
    color:	transparent;
}

.box{
   width:100%;
}

.box li{ 
    float:left; 
    height:185px;
    width:300px;
    margin-top: 5px;
    margin-left: 5px;
}

.date {
    margin-top: 5px;
    color: white;
    height: 40px;
    width: 100%;
    background-color: #009dd7;
    padding-top: 13px;
    padding-left: 40px;

    font-size: 25px;

    font-weight: bold;

    font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;
}

#content {
    margin-top: 60px;
}
.pages{
    padding-top: 20px;
    text-align: center;

    font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;
    font-size: 20px;
}

a{
    color: dodgerblue;
    text-decoration:none;
}

#foot{
    text-align: center;
    margin-top: 10px;
    width: 100%;
}


.global-header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9990;
    height: 50px;
    background-color: #009dd7;
    color: #FaFcFe;
}

.main-wrap{
    height: 50px;
    margin-left: 100px;
}


.title {
	margin-top: -62px;
	
	text-shadow: 0px 1px 2px rgba(0,0,0,0.6);
	z-index: 1;
	
	font-size: 18px;
	line-height: 1.2em;
	padding: 0 10px;
	
	color: white;
	font-weight: bold;
	font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;
	
}