{{define "content"}}
{{template "header"}}

<div id="content">

	{{range .}}

	{{with .Useddata}}
	{{range .}}



	<div class="date">
		{{.Date}}
	</div>

	<div>
		<ul id ="box" class="box">
			{{range .Id}}
			<a href="/url/{{.}}" >
				<li>
					<img src='/pic/{{ . }}'  alt='' class="image"/>
				</li>
			</a>
			{{end}}
		</ul>
	</div>

	{{end}}

	{{end}}


	{{with .Pagemark}}
	<div class="pages">

		{{range .}}
		<a href="/page/{{.}}">{{.}}</a>
		{{end}}
	</div>

	{{end}}

	{{end}}

</div>
{{template "footer"}} 

{{end}}