{{define "footer"}}



<div id="foot">  
	<ul>
		<li>© 2013 知乎 · Powered by <a href="http://artwalk.github.io/">Artwalk</a></li>
		<li><a href="https://github.com/Artwalk/GO-ZhihuDaily">Github</a></li>	
	</ul>
</div>  

</body>
</html>
{{end}}