{{define "header"}}
<!DOCTYPE html>
<html>
<head>
	<title>知乎日报</title>
	<link type="text/css" rel="stylesheet" href="/base.css"/>
</head> 
<body>

	<div id="header">
		<a href="http://zhihudaily.ahorn.me/" title="知乎日报">
			<img src="/zhihu_logo.png" class="main-wrap"/>
		</a>
	</div>


	{{end}}