{{define "header"}}
<!DOCTYPE html>
<html>
<head>
	 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>知乎日报</title>
  <link rel="stylesheet" href="build/index/index.css?t=20141023">
</head> 
<body>

	 <div id="header">
    <div class="main">
      <img src="http://zhihudaily.ahorn.me/zhihu_logo.png" alt="知乎日报" width="120">
      <div class="tianqi"><script type="text/javascript" src="http://ext.weather.com.cn/87440.js"></script></div>
    </div>
  </div>


	{{end}}