{{define "header"}}
<!DOCTYPE html>
<html>
<head>
	<title>知乎日报</title>
	<link type="text/css" rel="stylesheet" href="http://localhost:3000/base.css"/>
</head> 
<body>

	<div class="global-header">
		<a href="http://daily.zhihu.com/" title="知乎日报"><img src="http://localhost:3000/zhihu_logo.png" class="main-wrap"/></a>
	</div>


	{{end}}