{{define "share_image"}}

<html>
<head>
	<title>知乎日报</title>
	<style type="text/css">
	.image { 
		text-align: center;
		width: 100%;
	}
	</style>
</head> 
<body>



	<div class="image">
		<img src={{ . }}  alt="img" />
	</div>


</body>
</html>

{{end}}